
@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Gothic+A1:wght@300;500&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
font-size: 100%;
background: linear-gradient(#f3e3d3, transparent,#f3e3d3);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;  /*Colocou os itens do menu do cabeçalho para a esquerda*/
  padding: 0 px;
  background-color: #ecdbc5
}

.logo img{
  height: 200px;

    /*float: left;
    width: 15%;
    border: thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;*/
   }


  .itens-menu ul { padding:0px;
    margin:0px;
    background: color #df4565;
    list-style:none;
  }

  .itens-menu ul li { display: inline; }

  .itens-menu ul li { 
    padding: 2px 5px; 
    display: inline-block;
    gap: 32px;
    background-color:#df4565; 
    color: #333; 
    text-decoration: none; 
    border-bottom:3px solid #df4565; 
}
.menu-item {
  font-family: 'Corben', cursive;
  color:antiquewhite;
  font-weight: 400;
  font-size: 18px;

}

.conteudo {
  margin-bottom: 44px;
  border-top: 0.4px solid #333;
}

.conteudo-apresentacao {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-apresentacao-escrito {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.conteudo-apresentacao-titulo {
  font-family: 'Corben', cursive;
  font-weight: 400;
  font-size: 64px;
  color: #df4565;
}

.conteudo-apresentacao-subtitulo {
  font-family:'Gothic A1', sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #563023;
}


.conteudo-sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}


.conteudo-contato-botao {
  background-color: #966b72;
  cursor: pointer;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(10,23,55,0.5);
  border-radius: 20px;
  font-family: 'Corben', cursive;
  font-weight: 400;
  font-size: 10px;
  color: antiquewhite;
}



/*
.container .comentarios {
 display: flex;
 flex-direction: column;
 gap: 32px;
 width: 50px;
 height: 25px;
 background-color: rgba(10,23,55,0.5);
 display: block;
 margin-top: 70px;
 margin-left: 120px;
 margin-right: 50px;
 margin-bottom: 70px;
 }
 */

 .contato{
  background-color: #000;
  opacity: 0.5;
  width: 50%;
  height: 25%;
  position: static;
 }

 /*
  #container {
    width: 50%;
    height: 25%;
    position: static;
    top: 0; 
    left: 0;
    background: #000;
    opacity: 0.5;
  }
 */
  h1 {
    color:#df4565; 
    font-family: 'Corben', cursive;
  }

  h2 {
    color:#563023;
    font-family: 'Corben', cursive;
    font-weight: 400;
  }

  h3 {
    color: darkgreen;
    font-family: 'Corben', cursive;
  }

  h4 {
    color:red;
    font-family: 'Corben', cursive;
  }

  h5 {
    color: chartreuse;
    font-family: 'Corben', cursive;
  }

  h6 {
    color: blue;
    font-family: 'Corben', cursive;
  }

  p {
    color: #000;
    font-family: 'Corben', cursive;
  }