
.logo img{
    float: left;
    width: 15%;
    border: thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
   }

   #menu ul { padding:0px;
    margin:0px;
    background: color #f3e3d3;;
    list-style:none;
  }

  #menu ul li { display: inline; }

  #menu ul li a { 
    padding: 2px 10px; 
    display: inline-block; /* visual do link */ 
    background-color:#f3e3d3; 
    color: #333; 
    text-decoration: none; 
    border-bottom:3px solid #f3e3d3; 
}
/*
.comentarios {
 width: 470px;
 height: 190px;
 background-color: rgba(10,23,55,0.5);
 display: block;
 margin-top: -2px;
 }
 */

 .contato{
  background-color: #000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
 }

 /*
  .container .contato{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; 
    left: 0;
    background: #000;
    opacity: 0.5;
  }
  */